{{- if eq .machine "home" -}}
PATH="${HOMEBREW_PREFIX}/opt/coreutils/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/findutils/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/gnu-sed/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/grep/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/ruby/bin:${PATH}";

# Rust
PATH="${HOME}/.cargo/bin:${PATH}";

# uv tools
PATH="${HOME}/.local/bin:${PATH}";

PATH="${HOME}/bin:${PATH}";
{{- else if eq .machine "work" -}}
PATH="${HOMEBREW_PREFIX}/opt/coreutils/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/findutils/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/gnu-sed/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/grep/libexec/gnubin:${PATH}";
PATH="${HOME}/bin:${PATH}";

# Rust
PATH="${HOME}/.cargo/bin:${PATH}";

# uv tools
PATH="${HOME}/.local/bin:${PATH}";
PATH="${HOME}/Library/Python/3.11/bin:${PATH}";

# BATS
PATH="${HOME}/projects/bats-core/bin:${PATH}";

PATH="${HOME}/projects/pocket/bin:${PATH}";
{{- else if eq .machine "serv" -}}
PATH="${HOMEBREW_PREFIX}/opt/coreutils/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/findutils/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/gnu-sed/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/grep/libexec/gnubin:${PATH}";
PATH="${HOMEBREW_PREFIX}/opt/ruby/bin:${PATH}";
PATH="${HOME}/bin:${PATH}";

# Rust
PATH="${HOME}/.cargo/bin:${PATH}";

# uv tools
PATH="${HOME}/.local/bin:${PATH}";
PATH="${HOME}/Library/Python/3.11/bin:${PATH}";

# Pocket
PATH="${HOME}/projects/pocket/bin:${PATH}";
{{- else if eq .machine "atos" -}}
PATH="${HOME}/bin:${PATH}";

# Rust
PATH="${HOME}/.cargo/bin:${PATH}";

# uv tools
PATH="${HOME}/.local/bin:${PATH}";

# BATS
PATH="${HOME}/projects/bats-core/bin:${PATH}";
{{- else -}}
PATH="${HOME}/bin:${PATH}";

# Rust
PATH="${HOME}/.cargo/bin:${PATH}";

# uv tools
PATH="${HOME}/.local/bin:${PATH}";
{{- end }}

export PATH;
